<!doctype html>
<html lang="en">
<head>
	<title>Progressive Enhancement XHR Practice</title>
	<style>

		.error {
			border: 1px solid #ff0000;
			border-radius: 5px;
			padding: 5px;
			color: #ff0000;
			background-color: #ffccee;
		}

		.warning {
			color: #ff0000;
		}

		.note {
			font-style: italic;
		}
	</style>
</head>
<body>

{{{ body }}}

</body>
</html>